@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    background-image: url('./images/background.jpg');
    background-size: 15%;

    color: white;
    font-family: 'Odibee Sans', cursive;
    font-size: 1.3em;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.principal {
    margin-top: 2rem;
    text-align: center;
}

.data, .botao {
    width: 10rem;
    height: 2.5rem;
    margin-top: 1.5rem;
    margin-left: 0.5rem;

    font-family: 'Odibee Sans', cursive;
    font-size: 1em;
    color: rgb(0, 48, 126);
    text-align: center;
    background-color: white;
    border: none;
}

.botao {
    width: 6rem;
    cursor: pointer;
}

#descricao {
    width: 50rem;
    height: 20rem;
}

img {
    margin-top: 4rem;
    margin-bottom: 3rem;
    width: 35vw;
    display: none;
}